<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="uz" data-bs-theme="auto">

<head th:replace="~{admin/blocks/header::adminHead('Types')}"></head>
<body>

<nav th:replace="~{admin/blocks/navbar::navbar}"></nav>

<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="messages">
    <div class="alert alert notifs" role="alert"></div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <!-- Header -->
        <div class="header mb-0">
          <div class="header-body top-scroller">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate">
                  Types
                </h1>
              </div>
            </div> <!-- / .row -->
          </div>
          <div class="card mt-4">
            <div class="card-body" style="padding: 20px;">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Main</a></li>
                  <li class="breadcrumb-item"><a th:href="@{/admin/type/}">Types</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Types
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- Content -->
          <form role="form" class="row" method="post" enctype="multipart/form-data"
                th:action="@{/admin/type/{id}/edit (id=${id})}" th:object="${object}">
            <div class="col-12 col-xl-8">
              <div class="card mt-3">
                <div class="card-body p-5">
                  <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label required">Title</label>
                    <!-- Input -->
                    <input
                            type="text"
                            class="form-control"
                            th:field="*{name}">
                    <div class="invalid-feedback" style="display: block;"
                         th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>
                    <div th:if="${errorMessage}" style="color: red;">
                      <p th:text="${errorMessage}"></p>
                    </div>
                  </div>
                  <div class="btn-box text-end">
                    <a th:href="@{/admin/type}" class="btn w-30 btn-secondary">Cancel</a>
                    <input type="submit" href="#" class="btn w-40 btn-primary" value="Save">
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- Content End -->
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{admin/blocks/scripts::scripts}"></div>
<script th:src="@{/admin/assets/js/editor.js}"></script>

</body>

</html>
