<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" data-bs-theme="auto">

<head th:replace="~{admin/blocks/header::adminHead('Galleries')}"></head>

<body>

<nav th:replace="~{admin/blocks/navbar::navbar}"></nav>

<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="messages">
        <div class="alert alert notifs" role="alert"></div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <!-- Header -->
                <div class="header mb-0">
                    <div class="header-body top-scroller">
                        <div class="row align-items-center">
                            <div class="col">
                                <!-- Title -->
                                <h1 class="header-title text-truncate">
                                    Galleries
                                </h1>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                    <div class="card mt-4">
                        <div class="card-body" style="padding: 20px;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Main</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/admin/gallery}">Galleries</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Galleries
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- Content -->
                    <form role="form" class="row" method="post" enctype="multipart/form-data"
                          th:action="@{/admin/gallery/create}">
                        <div class="col-12 col-xl-4">
                            <div class="card mt-3">
                                <div class="card-body p-5">
                                    <!-- Project cover -->
                                    <div class="form-group">
                                        <!-- Label  -->
                                        <label class="form-label mb-1">
                                            Banner
                                        </label>

                                        <div class="dropzone dropzone-multiple border-0" data-max="1"
                                             data-delete="/api/files/delete"
                                             data-url="/api/files/upload" th:data-file-key="${dropzoneKey}">
                                            <!-- Fallback -->
                                            <div class="dz-preview d-none"></div>
                                            <div class="fallback">
                                                <div class="custom-file">
                                                    <input type="file" name="file" class="form-control"
                                                           id="customFileUploadMultiple">
                                                    <label class="form-label" for="customFileUploadMultiple">Choose
                                                        file</label>
                                                </div>
                                            </div>

                                            <!-- Preview -->
                                            <div class="dz-preview-container" id="article-image" style="padding: 0;">
                                                <div class="dz-preview dz-processing dz-complete dz-image-preview"
                                                     th:if="${requestImage != null}">
                                                    <div class="dz-image">
                                                        <img data-dz-thumbnail="" alt="Img"
                                                             th:src="${'/files/' + requestImage}">
                                                    </div>
                                                    <div class="dz-details">
                                                        <div class="dz-filename"><span data-dz-name="">Image
                                                        </span></div>
                                                    </div>
                                                    <a class="dz-remove"
                                                       onclick="var result = confirm('Want to delete?');if (result){submit_form('delete-form-image')}"
                                                       data-dz-remove>Delete</a>
                                                    <div th:action="@{/api/files/delete}" id="delete-form-image"
                                                         method="post">
                                                        <input type="hidden" name="file" th:value="${requestImage}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Dropzone -->
                                    </div>
                                    <div class="btn-box text-end">
                                        <a th:href="@{admin/gallery}" class="btn w-30 btn-secondary">
                                            Cancel
                                        </a>
                                        <input type="submit" href="#" class="btn w-40 btn-primary" value="Сохранить">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Content End -->
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{admin/blocks/scripts::scripts}"></div>
<script th:src="@{/admin/assets/js/editor.js}"></script>

</body>

</html>