<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" data-bs-theme="auto">

<head th:replace="admin/blocks/header::adminHead('Languages')"></head>

<body>

<nav th:replace="admin/blocks/navbar::navbar"></nav>

<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="messages">
        <div class="alert alert notifs" role="alert"></div>
    </div>
    <div class="container-fluid">
        <div class="messages"></div>
        <div class="row justify-content-center">
            <div class="col-12">
                <!-- Header -->
                <div class="header mb-0">
                    <div class="header-body top-scroller">
                        <div class="row align-items-center">
                            <div class="col">
                                <!-- Title -->
                                <h1 class="header-title text-truncate">
                                    Languages
                                </h1>

                            </div>
                            <div class="col-auto">
                                <!-- Navigation (button group) -->

                                <!-- Buttons -->
                                <a th:href="@{/admin/language/create}" class="btn btn-primary ms-2">
                                    Add Language
                                </a>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                    <div class="card mt-4">
                        <div class="card-body" style="padding: 20px;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Main</a></li>
                                    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
                                        Languages
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="card" id="contactsList">
                        <div class="table-responsive" style="padding: 20px;">
                            <table class="table table-sm table-hover table-nowrap card-table">
                                <thead>
                                <tr>
                                    <th>
                                        <a class="list-sort text-muted">№</a>
                                    </th>
                                    <th>
                                        <a class="list-sort text-muted">Name</a>
                                    </th>
                                    <th>
                                        <a class="list-sort text-muted">Code</a>
                                    </th>
                                    <th>
                                        <a class="list-sort text-muted">Status</a>
                                    </th>
                                    <th>
                                        <a class="list-sort text-muted">Default</a>
                                    </th>
                                    <th style="width: 200px;"></th>
                                </tr>
                                </thead>
                                <tbody class="list fs-base">
                                <tr th:each="lang,obj : ${languages}">
                                    <td>
                                        <a class="item-title" th:text="${(page) * size + obj.index + 1}" />
                                    </td>
                                    <td>
                                        <p class="item-phone text-reset" th:text="${lang.name}" />
                                    </td>
                                    <td>
                                        <p class="item-phone text-reset" th:text="${lang.code}" />
                                    </td>
                                    <td>
                                        <span class="badge bg-success-soft" th:if="${lang.isActive()}">Active</span>
                                        <span class="badge bg-danger-soft" th:unless="${lang.isActive()}">Inactive</span>
                                    </td>
                                    <td>
                                        <span class="badge bg-success-soft" th:if="${lang.isDefault()}">Default</span>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-end">
                                            <a th:href="@{/admin/language/{id}/edit(id=${lang.id})}" class="btn btn-sm btn-info">
                                                <i class="fe fe-edit-2"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Content End -->
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="admin/blocks/scripts::scripts"></div>

</body>

</html>